#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

#define BASE 0
#define EXT  1
#define NAV  2
#define FUN  3
#define ADJ  4// macros definition
#define undo LC(Z)
#define redo LC(LS(Z))
#define prev_screen LC(LG(LEFT))
#define next_screen LC(LG(RIGHT))
#define meh LC(LS(LALT))
#define prev_win LA(TAB)
#define next_win LA(LS(TAB))
#define deg RA(LS(SEMI))// tune mod tap

// caps word settings
// main tree

/ {
    conditional_layers { compatible = "zmk,conditional-layers"; };

    behaviors {
        // HOME ROW MODS
        // TAP DANCES
    };

    // macros
    // combos for accents dead keys (for US_intl_altgr_deadkeys OS layout)

    combos { compatible = "zmk,combos"; };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            // ----------------------------------------------------------------------------------------------------------------------------
            // |    Q    |    W    |    F    |    P    |    B    |                      |    J    |    L    |    I    |    Y    |    ;    |
            // |    A    |    R    |    S    |    T    |    G    |                      |    M    |    N    |    E    |    I    |    O    |
            // |    Z    |    X    |    C    |    D    |    V    |                      |    K    |    H    |    ,    |    .    |    /    |
            //                               |   ESC   |  SPACE  |   TAB   |  |  RETURN |BACKSPACE|   DEL   |

            bindings = <
&kp Q  &kp W  &kp E     &kp R      &kp T   &kp Y   &kp U       &kp I         &kp O    &kp P
&kp A  &kp S  &kp D     &kp F      &kp G   &kp H   &kp J       &kp K         &kp L    &kp SEMICOLON
&kp Z  &kp X  &kp C     &kp V      &kp B   &kp N   &kp M       &kp COMMA     &kp DOT  &kp FSLH
              &kp LGUI  &kp SPACE  &kp N0  &kp N0  &kp RSHIFT  &kp LEFT_ALT
            >;
        };
    };
};
